.banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner::before {
    content: "";
    background-image: url(uber.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.9;
}

.h1 {
    font-family: Georgia;
    font-size: 36px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 43.2px;
}

.h3 {
    font-family: Georgia;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 28.8px;
}

.p {
    font-family: Georgia;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 32px;
}

.blockquote {
    font-family: Georgia;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 24px;
}

.pre {
    font-family: Georgia;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}
